.leadership {
  font-size: 21px;
  color: #363636;
  padding: 28px 30px 30px;
  margin-bottom: 15px;
  background-color: #e1dede; }

.list_leadership .item_row {
  position: relative; }
  .list_leadership .item_row:before {
    content: '';
    height: 100%;
    width: 1px;
    background: #30529c;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 0; }
  .list_leadership .item_row:last-child:before {
    display: none; }
  .list_leadership .item_row:last-child .plus:not(.plus2) {
    margin-top: 0;
    top: 5px; }
    .list_leadership .item_row:last-child .plus:not(.plus2):before {
      content: '';
      height: 6px;
      width: 1px;
      background: #30529c;
      position: absolute;
      top: -8px;
      left: 7px;
      z-index: 0; }

.list_leadership .eye {
  width: 23px;
  height: 11px;
  background: url("img/look.png") no-repeat;
  position: absolute;
  top: 21px;
  cursor: pointer;
  left: 10px; }
  .list_leadership .eye:hover {
    opacity: 0.5; }

.list_leadership .item {
  border: 1px solid #acacac;
  background: #fff;
  position: relative;
  margin-bottom: 12px;
  padding: 17px 50px 17px 40px;
  background: #fff;
  font-size: 16px; }

.list_leadership .edit_block {
  position: absolute;
  top: 14px;
  right: 10px; }
  .list_leadership .edit_block .edit {
    margin: 3px 8px 0 0;
    width: 14px;
    height: 18px;
    float: left;
    cursor: pointer;
    background: url("img/redact.png") left top no-repeat; }
    .list_leadership .edit_block .edit:hover {
      opacity: .5; }
  .list_leadership .edit_block .arrows {
    height: 24px;
    width: 10px;
    position: relative;
    float: right; }
  .list_leadership .edit_block .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    border-style: solid;
    border-width: 0 4.5px 9px 4.5px;
    border-color: transparent transparent #a0a0a0 transparent; }
    .list_leadership .edit_block .top:hover {
      border-color: transparent transparent #787878 transparent; }
  .list_leadership .edit_block .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    border-style: solid;
    border-width: 9px 4.5px 0 4.5px;
    border-color: #a0a0a0 transparent transparent transparent; }
    .list_leadership .edit_block .bottom:hover {
      border-color: #787878 transparent transparent transparent; }

.list_leadership .add_and_second {
  position: relative;
  min-height: 37px;
  margin-top: -12px;
  padding-left: 100px; }
  .list_leadership .add_and_second .items {
    padding: 12px 0 25px;
    position: relative; }
    .list_leadership .add_and_second .items:before {
      content: '';
      height: 90%;
      width: 1px;
      background: #30529c;
      position: absolute;
      top: 0;
      left: 0px;
      z-index: 0; }

.list_leadership .plus {
  width: 22px;
  height: 22px;
  border: 3px solid #30529c;
  background-color: #ffffff;
  line-height: 17px;
  text-align: center;
  color: #30529c;
  font-family: "GothamProBold";
  font-size: 16px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 0;
  cursor: pointer; }
  .list_leadership .plus.plus2 {
    top: auto;
    bottom: 8px;
    margin-top: 0;
    left: 90px; }
    .list_leadership .plus.plus2:after {
      content: '';
      height: 8px;
      width: 1px;
      background: #30529c;
      position: absolute;
      top: -10px;
      left: 7px; }

.modal_add {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  background: #e1dede;
  font-size: 18px;
  display: none; }
  .modal_add .row_inp {
    display: table;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 35px; }
    .modal_add .row_inp span {
      display: table-cell; }
      .modal_add .row_inp span:last-child {
        width: 100%;
        padding-left: 5px; }
    .modal_add .row_inp input {
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 5px;
      outline: none; }
  .modal_add .btns {
    overflow: hidden; }
    .modal_add .btns input {
      height: 41px;
      border: 1px solid #3b3b3b;
      width: 49.5%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background: #e1dede;
      float: left; }
      .modal_add .btns input:last-child {
        float: right; }
      .modal_add .btns input:hover {
        background: #3b3b3b;
        color: #fff; }

.modal_add_human {
  padding: 30px 30px 5px; }
  .modal_add_human .item_dropdown {
    display: block;
    width: 100%;
    font-family: "GothamProMedium";
    font-size: 14px; }
  .modal_add_human .images {
    overflow: hidden;
    margin-bottom: 15px; }
    .modal_add_human .images a {
      display: block;
      float: left;
      height: 195px;
      line-height: 195px;
      background-color: #2a333f;
      text-align: center; }
      .modal_add_human .images a:first-child {
        width: 445px; }
      .modal_add_human .images a:last-child {
        width: 180px;
        float: right; }
  .modal_add_human .white_bl {
    width: 100%;
    padding: 30px;
    margin: 0 0 -30px -30px;
    background: #fff;
    position: absolute;
    top: 105%; }
  .modal_add_human .title_person h2 {
    font-size: 21px;
    line-height: 1; }
  .modal_add_human .title_person .checkbox_label {
    font-size: 14px;
    font-family: "GothamProRegular";
    text-transform: none; }
    .modal_add_human .title_person .checkbox_label span {
      display: inline-block; }
  .modal_add_human .title_person .right {
    position: absolute;
    bottom: 5px;
    right: 0;
    text-align: right; }
    .modal_add_human .title_person .right a {
      font-size: 14px;
      font-family: "GothamProMedium"; }
